body {
    font-family: 'Open Sans';
    margin: 0px;
    background-color: rgb(206, 206, 206);
}

:root {
    --c-grass: #46d1b0;
    --c-fire: #fc6c6c;
    --c-water: #59acf8;
    --c-bug: #a17973;
    --c-normal: #A8A77A;
    --c-poison: #7c538b;
    --c-electric: #ffcf49;
    --c-ground: #b0756d;
    --c-fairy: #D685AD;
    --c-fighting: #C22E28;
    --c-psychic: #F95587;
    --c-rock: #B6A136;
    --c-ground: #E2BF65;
    --c-ghost: #735797;
    --c-ice: #96D9D6;
    --c-dark: #705746;
    --c-steel: #B7B7CE;
    --c-dragon: #6F35FC;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 3px 3px 5px #888888;
    height: 100px;
}

.Header-img {
    width: 220px;
}

.search {
    width: 200px;
    height: 24px;
    border-radius: 3px;
    border-top: 4px solid rgb(65, 95, 166);
    border-bottom: 4px solid rgb(246, 206, 59);
    border-left: 4px solid rgb(65, 95, 166);
    border-right: 4px solid rgb(246, 206, 59);
    font-size: 1em;
    font-weight: 500;
}

.card-container {
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.pokedex-card {
    height: 150px;
    max-width: 4em;
    min-width: 17em;
    /* background-color: rgb(249, 217, 122); */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    border-radius: 20px;
}

.bg-img {
    opacity: 0.2;
    position: absolute;
    height: 200px;
    transform: rotate(-45deg);
    top: 20px;
    left: 150px;
    z-index: 0;
} 

.pokemon-ID {
    display: flex;
    justify-content: flex-end;
}

.ID-container {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.pokedex {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.pokemon-info h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.pokemon-type {
    display: flex;
    flex-direction: column;
}

.pokemon-type span {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 4px;
    max-width: fit-content;
}

.pokemonImg {
    width: 125px;
    height: 125px;
}