body {
    font-family: 'Open Sans';
    margin: 0px;
    background-color: rgb(206, 206, 206);
}

:root {
    --c-grass: #46d1b0;
    --c-fire: #fc6c6c;
    --c-water: #59acf8;
    --c-bug: #a17973;
    --c-normal: #A8A77A;
    --c-poison: #7c538b;
    --c-electric: #ffcf49;
    --c-ground: #b0756d;
    --c-fairy: #D685AD;
    --c-fighting: #C22E28;
    --c-psychic: #F95587;
    --c-rock: #B6A136;
    --c-ground: #E2BF65;
    --c-ghost: #735797;
    --c-ice: #96D9D6;
    --c-dark: #705746;
    --c-steel: #B7B7CE;
    --c-dragon: #6F35FC;
}

.d-none {
    display: none !important;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 5px #888888;
    margin-bottom: 12px;

}

.Header-img {
    width: 220px;
}

.search {
    width: 200px;
    height: 24px;
    border-radius: 3px;
    border-top: 4px solid rgb(65, 95, 166);
    border-bottom: 4px solid rgb(246, 206, 59);
    border-left: 4px solid rgb(65, 95, 166);
    border-right: 4px solid rgb(246, 206, 59);
    font-size: 1em;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

#search-result {
    position: absolute;
    border: 1px solid black;
    width: 209px;
    overflow: hidden;
    height: 500px;
    background-color: rgba(230, 230, 230, 0.808);
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.invisible-div {
    position: absolute;
    background-color: #00000070;
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.invisible-div-full {
    position: sticky;
    background-color: #00000070;
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: relative;
    overflow: hidden; */
}

.pokedex-container {
    margin: 12px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    position: relative;
    overflow: hidden;
    display: flex;
}

.pokedex-card {
    height: 150px;
    width: 17em;
    /* background-color: rgb(249, 217, 122); */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.bg-img {
    opacity: 0.2;
    position: absolute;
    height: 200px;
    transform: rotate(-45deg);
    top: 20px;
    left: 150px;
    z-index: 0;
}

.pokemon-ID {
    display: flex;
    justify-content: flex-end;
}

.ID-container {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

.pokedex {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.pokemon-info h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.pokemon-type {
    display: flex;
    flex-direction: column;
}

.pokemon-type span {
    background-color: rgba(255, 255, 255, 0.25);
    font-weight: 500;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 4px;
    max-width: fit-content;
}

.pokemonImg {
    width: 125px;
    height: 125px;
}

.load-more {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0px 24px;
}

.load-btn {
  align-items: center;
  background-image: linear-gradient(140deg,rgb(65, 95, 166), rgb(246, 206, 59));
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}


/* full info top */
.full-info-card {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.info-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 750px;
    z-index: 2;
}

.pokedex-main-info {
    height: 375px;
    width: 400px;
    /* background-color: rgb(249, 217, 122); */
    color: white;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
}

.info-ID {
    display: flex;
    justify-content: space-between;
    /* padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px; */
    padding: 24px;
}

.close-arrow {
    width: 30px;
    rotate: 180deg;
    cursor: pointer;
}

.bg-img-full-info {
    opacity: 0.2;
    position: absolute;
    height: 300px;
    transform: rotate(-45deg);
    top: 100px;
    left: 52px;
    /* z-index: 0; */
    overflow: hidden;
}

.main-info {
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
}

.pokemon-type-full {
    display: flex;
}

.pokemon-type-full span {
    background-color: rgba(255, 255, 255, 0.25);
    font-weight: 500;
    border-radius: 4px;
    padding: 3px;
    margin-right: 4px;
    max-width: fit-content;
}

.full-img-container {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 352px;
    position: absolute;
    bottom: 0px;
}

.pokemon-img-full {
    max-width: 225px;
    max-height: 220px;
}

/* full info bottom */

.detail {
    background-color: rgb(236, 236, 236);
    height: 400px;
    width: 400px;
    border-radius: 40px;
    margin-top: -40px;
    overflow: hidden;
    z-index: 1;
}

.detail-nav {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-around;
}

/* About start */
.about-container {
    padding-left: 24px;
    padding-right: 24px;
}

.about-container tr {
    display: flex;
    justify-content: space-between;
    width: 352px;
}

.about-container td:first-child {
    font-weight: 600;
    color: #888888;
}

.evolution {
    text-align: center;
}

/* About end */

.base-stats-container{
    transform: translateX(100%);
}

.moves-container{
    transform: translateX(200%);
}

 


/*500px*/
@media(max-width: 500px) {

    .header {
        justify-content: space-around;
        align-items: center;

        /* flex-direction: column;
        height: 130px; */
    }

    .Header-img {
        width: 150px;
    }
}

@media(max-width:380px) {

    .header {
        justify-content: space-around;
        align-items: center;

        /* flex-direction: column;
        height: 130px; */
    }

    .Header-img {
        width: 150px;
    }

    .search {
        width: 120px;
        height: 24px;
        font-size: 1em;
        font-weight: 500;
    }
}

@media(max-width:360px) {

    .header {
        height: 80px;
    }

    .Header-img {
        width: 100px;
    }

    .search {
        width: 100px;
        height: 20px;
        font-size: 0.75em;
        font-weight: 500;
    }


    .pokedex-card {
        height: 110px;
        width: 15em;
        /* background-color: rgb(249, 217, 122); */
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px 10px 20px;
        border-radius: 20px;
        cursor: pointer;
    }

    .bg-img {
        height: 140px;
        transform: rotate(-45deg);
        top: 25px;
        left: 140px;
        z-index: 0;
    }

    .ID-container {
        font-size: 1.0em;
    }

    .pokemon-info h2 {
        margin-top: 0px;
        margin-bottom: 8px;
        font-size: 1.25em;
    }

    .pokemon-type span {
        font-size: 0.75em;
        padding: 3px;
        margin-bottom: 4px;
        max-width: fit-content;
    }

    .pokemonImg {
        width: 100px;
        height: 100px;
    }
}

